@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}
html
{
  background-image:url(../img/bg-1.png);
  background-repeat: repeat-x;
  background-size:contain;
}

.formbg
{
  background-image:url(../img/bg-2.png);
  background-repeat: repeat-x;
  background-size:contain;
}
body {
 
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100; 
  background-color : transparent;
  color: #fff;
  overflow: hidden;
}

.fix{
  position:absolute;
  bottom:20px;
  margin: auto;
  width: 100%;
}

.Absolute-Center {
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center; 
  margin: auto;
} 
.form-section {
  padding-left: 20px;
  display: none;
}
.form-section.current {
  display: inherit;
}
.btn-info, .btn-default {
  margin-top: 10px;
}
#regForm {
 
  margin: auto;
  /* font-family: 'Roboto', sans-serif; */
  padding: 0 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

li{
   margin-bottom: 2vh;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
}

.btn-info[disabled]{
background-color: transparent !important;
border: 2px solid #fff !important;
color: #fff !important;
 padding: 12px 35px;
 /*margin-top: 20px;*/
/* border-color: #46b8da; */
opacity: 1 !important;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 25%;
  background-color: #ABCFE9;
  border: none;
  border-radius: 0;
  display: inline-block;
  transition: all 1s;
  margin: -2px;
}

.step:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.step:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.step.active {
  background-color: #E6F0F8;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #E6F0F8;
}
.form-navigation
{
  padding: 0px 0 0 20px;
}
.form-control{
    padding: 10px;
    width: 100%;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    height: 40px;
    background-color: transparent;
    margin-bottom: 50px;
   font-family: 'Source Sans Pro', sans-serif;
  }

  .btn-next, .btn-next:hover, .btn-next:focus{
    margin-right: 50px; 
    background-color: #fff;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 20px;
     border: 2px solid #fff !important;
    outline: none !important;
    width: 155px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

    .btn-complete, .btn-complete:hover, .btn-complete:focus{
    margin-right: 50px; 
    background-color: #fff;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    height: 50px;
    width: auto;
    letter-spacing: 1px;
    font-size: 14px;
    /*margin-top: 20px;*/
    border: 0 !important;
    outline: none !important;
    width: auto;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

.btn-back, .btn-back:hover, .btn-back:focus{
     margin-left: 50px; 
    margin-top: 20px;
     background-color: transparent;
    border-radius: 0;
    padding: 12px 35px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff;
    outline: none !important;
    width: 155px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
  }

  input.parsley-error, 
  select.parsley-error, 
  textarea.parsley-error {
    color: #e70526;
     background-color: transparent !important; 
    border-bottom: 1px solid #e70526 !important;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
}

input.parsley-success, 
select.parsley-success, 
textarea.parsley-success {
    color: #fff;
    background-color: transparent !important;
    border-bottom: 1px solid #D6E9C6;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
}

.parsley-errors-list{
      margin: 2px 0 10px;
}


::-webkit-input-placeholder { /* Edge */
  color: #fff !important;
  font-size: 14px !important;
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff !important;
    font-size: 14px !important;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
}

::placeholder {
   color: #fff !important;
    font-size: 14px !important;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
}

.step.done {
  background-color: #E6F0F8 !important;
}

.form-section-wrapper{
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  padding: 0 20px 0 0px;
}

.form-section-wrapper{
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  padding: 0 20px 0 0px;
}

.label-class{
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 15px;
}

.top{
  margin-top: 30px
}

.info{
      font-size: 15px;
    margin-bottom: -15px;
    margin-left: 8px;
    font-weight: 400;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ffffff;
}

.verify{
      text-align: center;
       font-size: 20px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
}
option {
  color: black;
}
.cardblock {
  position: relative;
  display: block;
  background-image: url("../img/card.png");
  background-size: cover;
  width: 320px;
 height: 200px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 border-radius: 6%;
}
.cardblock__number 
{ 
  position: absolute;
  top: 90px;
  left: 30px;
}
.cardblock__number__black
{
  color: #57A0D3;
    font-size: 26px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    letter-spacing: 3px;
}
.cardblock__expdate 
{ 
  position: absolute;
  top: 136px;
    right: 90px;
}
.cardblock__expdate__black
{
  color:#57A0D3;
  font-size: 8px;
}
.cardblock__expdate_number 
{ 
  position: absolute;
  top: 130px;
  right: 28px;
}
.cardblock_expdate_numbe_black
{
  color:#57A0D3;
  font-size: 22px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: 2px;
}
.cardblock__name
{ 
  position: absolute;
  top: 162px;
  left: 28px;
}
.cardblock_name_black
{
  color:#57A0D3;
  font-size: 18px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.elem__with_auto, .elem__with_auto:hover , .elem__with_auto:active
{
  width: auto !important;
  /* margin-top: 50px; */
}
h4{
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
}
h1, h3{
  font-weight: 700;
  text-transform: uppercase;
}
small, .small
{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 100%;
  margin-top: 100px;
}
section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
section form input {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 25px;
  text-align: center;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
    border-bottom: 2px solid #fff !important;
    border-radius: 0 !important;
    font-size: 24px !important;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}
section form input:last-child {
  margin-right: 0;
}

#regForm1 {
 
  margin: auto;
  /* font-family: 'Roboto', sans-serif; */
  padding: 0 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}

.formalign{
      margin-top: 20px;
}

.selectarrow{
      font-size: 14px !important;
    letter-spacing: 1px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 15px;
    background-size: 18px;
    margin-right: 2rem;
    font-weight: 400;
}

.topalign{
  margin-top: 11vh;
}

.titlealign{
   margin-top: 6vh;
   margin-bottom: 40px;
}

.otptext{
  font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    /*margin-left: -30px;*/
}

.cardalign{
  margin-top: 70px !important;
}

.otpalign{
  margin-top: -3vh;
}

.otpfield{
  margin-top: 120px;
}

.scrathalign{
  margin-top: 60px
}

.scratchtextalign{
  margin-top: 30px
}

.welcometext{
  margin-top: 80px !important;
}

.verifyinfoalign{
  margin-top: 20px;
}

.listalign{
      margin-top: 0;
}

.buttonbg{
  background-color: transparent;
}

.form-group1 {
    margin-bottom: 15px;
}

.cardtextalign{
  line-height: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
    text-transform: none;
}

.card-bg{
    background-image: url(../img/bg-1.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.btn-next1, .btn-next1:hover, .btn-next1:focus{
    background-color: #fff;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 20px;
    border: 0 !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }


  .linkbg {
        background-image: url(./img/bg-1.png);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: 45%;
    }
@media(min-width: 320px) and (max-width: 374px){

  .topalign{
  margin-top: 4vh;
}

.titlealign {
    margin-top: 12vh;
    margin-bottom: 15px;
}

.btn-info[disabled]{
background-color: transparent !important;
border: 2px solid #fff !important;
color: #fff;
 padding: 12px 35px;
 /*margin-top: 20px;*/
/* border-color: #46b8da; */
opacity: 1 !important;
}

.card-bg{
    background-image: url(../img/bg-1.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.formbg {
    background-image: url(../img/bg-2.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}

.form-section-wrapper{
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
 top: 40%;
  left: 50%;
  padding: 0 20px 0 0px;
}

.form-wrapper{
   padding: 0 5px 0 0;
}

/*.aligncard{
  margin-left: 0 !important;
}*/

#regForm1 {
 
  margin: auto;
  /* font-family: 'Roboto', sans-serif; */
  padding: 0 0;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}

.btn-next, .btn-next:hover, .btn-next:focus{
    background-color: #fff;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 20px;
    border: 2px solid #fff !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

  .btn-complete, .btn-complete:hover, .btn-complete:focus{
    background-color: #fff;
    border-radius: 0;
  padding: 12px 35px;
    width:auto !important;
    height: 50px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    /*margin-top: 20px;*/
    border: 0 !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

.btn-back, .btn-back:hover, .btn-back:focus{
     margin-left: 0; 
    margin-top: 20px;
     background-color: transparent;
    border-radius: 0;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff;
    outline: none !important;
    width: 125px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
  }
}

@media(min-width: 375px) and (max-width: 390px){
  .btn-info[disabled]{
background-color: transparent !important;
border: 2px solid #fff !important;
color: #fff !important;
 padding: 12px 35px;
 /*margin-top: 20px;*/
/* border-color: #46b8da; */
opacity: 1 !important;
}
  .formalign{
    margin-top: 30px !important;
  }
  .form-section1 {
    padding-left: 20px;
    /*display: none;*/
    margin-right: 25px;
}
  .cardalign{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    margin-top: 0 !important;
  }
.otpalign{
      margin-top: 50px;
}
.otpfield{
  margin-top: 160px;
}
.scrathalign{
  margin-top: 130px
}
#regForm1 {
 
  margin: auto;
  padding: 0 0;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}

.card-bg {
    background-image: url(../img/bg-414.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
  }

.linkbg {
    background-image: url(./img/bg-414.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}


.btn-next, .btn-next:hover, .btn-next:focus{
  margin-right: 25px; 
    background-color: #fff;
    border-radius: 0;
   padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
     margin-top: 20px;
     border: 2px solid #fff !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }


  .btn-complete, .btn-complete:hover, .btn-complete:focus{
  margin-right: 25px; 
    background-color: #fff;
    border-radius: 0;
   width:auto !important;
    height: 50px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
     /*margin-top: 20px;*/
    border: 0 !important;
    outline: none !important;
    /*width: 124px;*/
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

  .btn-next1, .btn-next1:hover, .btn-next1:focus{
    background-color: #fff;
    border-radius: 0;
    padding: 12px 35px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: -10px;
    border: 0 !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

.btn-back, .btn-back:hover, .btn-back:focus{
     margin-left: 25px; 
    margin-top: 20px;
     background-color: transparent;
    border-radius: 0;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff;
    outline: none !important;
    width: 125px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
  }
.scratchtextalign{
  margin-top: 50px
}

.verify {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 8px 29px 20px 50px;
    background-color: #57a0d3;
}

.welcometext{
  margin-top: 0 !important;
}
.verifyinfoalign{
  margin-top: 0 !important;
}
.listalign{
      margin-top: -25px;
}
.buttonbg{
  background-color: #57a0d3;
}
.form-group1 {
    margin-bottom: 5px;
}
}



@media(min-width: 411px) and (max-width: 450px){
  .btn-info[disabled]{
background-color: transparent !important;
border: 2px solid #fff !important;
color: #fff !important;
 padding: 12px 35px;
 /*margin-top: 20px;*/
/* border-color: #46b8da; */
opacity: 1 !important;
}
  .formalign{
    margin-top: 30px !important;
  }
.form-section1 {
    padding-left: 15px;
    /* display: none; */
    margin-right: 25px;
}
/*.cardalign{
  margin-top: 150px !important;
}*/
.otpalign{
      margin-top: 35px;
}
.otpfield{
      margin-top: 185px;
}
.scrathalign{
  margin-top: 110px;
}
#regForm1 {
 
  margin: auto;
  padding: 0 0;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}
.scratchtextalign{
  margin-top: 50px
}


.card-bg{
    background-image: url(../img/bg-414.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}

.linkbg {
    background-image: url(./img/bg-414.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}

.verify {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 5px 25px 25px 49px;
    margin: 24px;
    background-color: #57a0d3;
}

.welcometext{
  margin-top: 0 !important;
}
.verifyinfoalign {
    margin-top: -18px !important;
}
.listalign {
    margin-top: -33px;
    margin-right: 25px;
}
.formbg {
    background-image: url(../img/bg-2.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}
.buttonbg{
  background-color: #57a0d3;
}
.form-group1 {
    margin-bottom: 5px;
}
.cardtextalign {
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
}
  .cardalign{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    margin-top: 0 !important;
  }

  .btn-next, .btn-next:hover, .btn-next:focus{
      margin-right: 35px !important; 
    background-color: #fff;
    margin-top:20px;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  } 

     .btn-complete, .btn-complete:hover, .btn-complete:focus{
      margin-right: 35px !important; 
    background-color: #fff;
    border-radius: 0;
    /*margin-top:20px;*/
    width:auto !important;
    height: 50px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
    border: 0 !important;
    outline: none !important;
    /*width: 124px;*/
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  }

  .btn-back, .btn-back:hover, .btn-back:focus{
     margin-left: 35px !important; 
    margin-top: 20px;
     background-color: transparent;
    border-radius: 0;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff;
    outline: none !important;
    width: 125px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
  }
}


@media(min-width: 460px) and (max-width: 500px){
  .btn-info[disabled]{
background-color: transparent !important;
border: 2px solid #fff !important;
color: #fff !important;
 padding: 12px 35px;
 /*margin-top: 20px;*/
/* border-color: #46b8da; */
opacity: 1 !important;
}
  .formalign{
    margin-top: 30px !important;
  }
.form-section1 {
    padding-left: 15px;
    /* display: none; */
    margin-right: 50px;
}
/*.cardalign{
  margin-top: 150px !important;
}*/
.otpalign{
      margin-top: 35px;
}
.otpfield{
      margin-top: 185px;
}
.scrathalign{
  margin-top: 130px
}
#regForm1 {
 
  margin: auto;
  padding: 0 0;
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 100vh;
}
.scratchtextalign{
  margin-top: 50px
}


.linkbg {
    background-image: url(./img/bg-414.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 45%;
}

.card-bg{
    background-image: url(../img/bg-480.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 48%;
}

.verify {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 5px 25px 25px 49px;
    margin: 24px;
    background-color: #57a0d3;
}

.welcometext{
  margin-top: 0 !important;
}
.verifyinfoalign {
    margin-top: -18px !important;
}
.listalign {
    margin-top: -33px;
}
.formbg {
    background-image: url(../img/bg-2.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 55%;
}
.buttonbg{
  background-color: #57a0d3;
}
.form-group1 {
    margin-bottom: 5px;
}
.cardtextalign {
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
}
  .cardalign{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    margin-top: 0 !important;
  }

  .btn-next, .btn-next:hover, .btn-next:focus{
     margin-right: 65px !important;
    background-color: #fff;
    margin-right  : 30px;
    margin-top: 20px;
    border-radius: 0;
    padding: 12px 35px;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
     border: 2px solid #fff !important;
    outline: none !important;
    width: 124px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  } 



  .btn-complete, .btn-complete:hover, .btn-complete:focus{
     margin-right: 65px !important;
    background-color: #fff;
    margin-right  : 30px;
    /*margin-top: 20px;*/
    padding: 12px 35px;
    border-radius: 0;
   height: 50px;
    width: auto;
    color: #57a0d3;
    letter-spacing: 1px;
    font-size: 14px;
     border: 2px solid #fff !important;
    outline: none !important;
    /*width: 124px;*/
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
  } 

  .btn-back, .btn-back:hover, .btn-back:focus{
     margin-left: 65px !important; 
    margin-top: 20px;
     background-color: transparent;
    border-radius: 0;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fff;
    outline: none !important;
    width: 125px;
   font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
  }
}